[Unit]
Description=Scraper de resultados - Liga de Lincoln

[Service]
Type=oneshot
User=gallardo
Group=gallardo
WorkingDirectory=%h/Documentos/ligadelincoln
ExecStart=/bin/bash %h/Documentos/ligadelincoln/scripts/run_scraper_resultados.sh
