[Unit]
Description=Scraper de alineaciones - Liga de Lincoln

[Service]
Type=oneshot
User=gallardo
Group=gallardo
WorkingDirectory=/home/gallardo/Documentos/ligadelincoln
ExecStart=/bin/bash /home/gallardo/Documentos/ligadelincoln/scripts/run_scraper_alineaciones.sh
