[Unit]
Description=Scraper de resultados - Liga de Lincoln

[Service]
Type=oneshot
User=gallardo
Group=gallardo
ExecStart=/home/gallardo/Documentos/ligadelincoln/scripts/run_scraper_wrapper.sh
